* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 18px;
  padding: 10px;
  color: #fff;
  border-radius: 10px;

  &:hover {
    transform: scale(1.05);
    transition: all 0.2s;
  }
}

body {
  background: #f8e6e6;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.wrap {
  background: #fff;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 0px 20px red;

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  & > h2 {
    text-align: center;
  }
}

.form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-take {
  h2 {
    margin-bottom: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.form-take-inputs {
  display: flex;
  gap: 10px;

  label {
    width: 100%;
  }

  input {
    width: 100%;
    margin-top: 5px;
  }
}

.form-buy-stop {
  display: flex;
  gap: 10px;
  margin-top: 30px;

  label {
    width: 100%;
  }

  input {
    width: 100%;
    margin-top: 5px;
  }
}

.form-risk {
  input {
    width: 100%;
    margin-top: 5px;
  }
}

.form-bank {
  input {
    width: 100%;
    margin-top: 5px;
  }
}

.form-btns {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.result {
  font-size: 20px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.result-item:not(:last-child) {
  margin-bottom: 10px;
}

.add {
  background: palevioletred;
}

.reset {
  background: red;
}

.calculate {
  background: green;
}
